img{
    height: 350px;
    width: 300px;
}

*{
  text-align: center;
}

*{
  font-style: italic;
}

#Heading{
  font-style: initial; color: rgb(226, 192, 0);
}

h3{
    font-size: x-large;
}

#Reason{
    font-weight: normal;
}

.Reasoncolor{
    color: rgb(225, 192, 6);
}

.Animename{
    background-color: #F5DEB3;
}
